.how-it-started {
    padding: 2rem 0;
    .how-it-started-container {
        @include wide-container;
        text-align: center;
        &__image img {
            border-radius: 1rem;
        }
    }
}