.how-it-started {
    padding: 2rem 0;
    .how-it-started-container {
        @include wide-container;
        text-align: center;
        &__image {
            // display: grid;
            // grid-template-columns: repeat(auto-fit, 16rem);
            // gap: 1rem;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }
    }
}