.about-us {
    padding: 2rem 0;
    .about-us-container {
        @include wide-container;
        text-align: center;
        &__image img {
            max-width: 100%;
            height: auto;
            border-radius: 1rem;
        }
    }
}

@media screen and (min-width: 50em) {
    .about-us .about-us-container {
        display: flex;
        text-align: left;
        &__content {
            width: 50%;
            margin-right: 2rem;
        }
        &__image {
            width: 50%;
        }
    }
}