.about {
    padding: 2rem 0 0;
    .about-container {
        @include wide-container;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        &_image img {
            max-width: 100%;
            height: auto;
        }
        &_content {
            h2 {
                display: none;
            }
        }
    }
}