header {
    padding: 2rem 0;
    background: $pink;
    position: relative;
    z-index: 1;
    .header-container {
        @include wide-container;
        &--home::before {
            content: '';
                background-image: url(/assets/images/hero-splash1.png);
                background-repeat: no-repeat;
                position: absolute;
                // height: 12rem;
                height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
                // width: 32rem;
                width: clamp(32rem, calc((896 / 800) * 100vw), 56rem);
                background-size: cover;
                z-index: -1;
                right: -8rem;
                top: -4rem;
                transform: rotate(20deg)
        }
        nav {
            @include space-between;
            .logo {
                height: 4rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 1rem;
            }
        }
    }
}