.hero {
    padding: 2rem 0;
    background-color: $pink;
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        z-index: 1;
        &_content {
            @include wide-container;
            text-align: center;
            margin-top: 2rem;
            p {
                margin-bottom: 2rem;
            }
        }
        &_illustration {
            overflow: hidden;
            &::before {
                content: '';
                background-image: url(/assets/images/hero-splash2.png);
                background-repeat: no-repeat;
                position: absolute;
                height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
                width: clamp(20rem, calc((896 / 800) * 100vw), 56rem);
                background-size: cover;
                z-index: -1;
                right: 0;
                top: clamp(2rem, calc((192 / 800) * 100vw), 12rem);
            }
            img {
                max-width: 100%;
                height: auto;
                margin-left: 2rem;
            }
        }
    }
}
.drip {
    width: 100%;
}