.our-cakes {
    padding: 2rem 0;
    .our-cakes-container {
        @include wide-container;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        .our-cakes-grid li {
            margin-bottom: 2rem;
            .cake-grid-container {
                img {
                    max-width: 100%;
                    height: auto;
                }
                h3 {
                    margin-top: 1rem;
                }
            }
        }
    }
}
@media screen and (min-width: 43.75em) {
    .our-cakes .our-cakes-container .our-cakes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: 2rem;
        text-align: left;
        margin-bottom: 2rem;
        li {
            margin-bottom: 0;
            .cake-grid-container .cake-image-container {
                min-height: 13rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}