.cta-button {
    padding: .5em 1em;
    border: 1px solid $primary;
    border-radius: 2em;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $primary;
}