/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  color: #692511;
  line-height: 1.5;
}

h1 {
  font-size: clamp(2rem, calc((64/600) * 100vw), 4rem);
}

h2 {
  font-size: clamp(1.75rem, calc((56/600) * 100vw), 3.5rem);
}

h3 {
  font-size: clamp(1.25rem, calc((24/600) * 100vw), 1.5rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #692511;
}

h4 {
  font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #692511;
}

p {
  line-height: 1.5;
  font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0;
}

a {
  font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
  font-family: 'Montserrat', sans-serif;
}

footer .footer-container h4, footer .footer-container a {
  color: black;
}

footer span {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  display: block;
  font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
  font-family: 'Montserrat', sans-serif;
}

.mobile-cart {
  color: #692511;
}

.hamburger-sidebar li {
  margin-bottom: 1rem;
}

.hamburger-sidebar li a {
  font-size: clamp(1rem, calc((32 / 600) * 100vw), 2rem);
  color: #692511;
}

.desktop-nav li a {
  color: #692511;
  font-weight: 600;
}

.cta-button {
  padding: .5em 2em;
  border: 1px solid #692511;
  border-radius: 2em;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #692511;
}

.cta-button:hover {
  background-color: #692511;
  color: white;
}

.form-button {
  background-color: white;
}

.hamburger {
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger {
  height: 3em;
  width: 2em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent;
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: #692511;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.burger .burger-lines:after {
  left: 0;
  top: -.6em;
}

.burger .burger-lines:before {
  left: 1em;
  top: .6em;
}

@-webkit-keyframes burgerAnimationSlide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  49% {
    -webkit-transform: translateX(-0.7em);
    transform: translateX(-0.7em);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0.7em);
    transform: translateX(0.7em);
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes burgerAnimationSlide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  49% {
    -webkit-transform: translateX(-0.7em);
    transform: translateX(-0.7em);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0.7em);
    transform: translateX(0.7em);
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.burger.burger-slide .burger-lines {
  -webkit-transition: .1s all .15s;
  transition: .1s all .15s;
}

.burger.burger-slide .burger-lines:after, .burger.burger-slide .burger-lines:before {
  width: 1em;
  -webkit-transition: .1s all .15s;
  transition: .1s all .15s;
}

.burger.burger-slide:not(.open) {
  -webkit-animation-name: burgerAnimationSlide;
  animation-name: burgerAnimationSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: transparent;
}

.burger.burger-slide.open .burger-lines {
  -webkit-animation-name: burgerAnimationSlide;
  animation-name: burgerAnimationSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: transparent;
}

.burger.burger-slide.open .burger-lines:before, .burger.burger-slide.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-slide.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.burger-slide.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #EEE0E0;
  height: 100vh;
  z-index: 2;
  padding: 2rem;
  left: -100%;
  -webkit-transition: left .3s;
  transition: left .3s;
}

.hamburger-sidebar ul {
  margin: 1rem 0;
}

.display {
  left: 0;
  -webkit-box-shadow: 100px 0 200px 400px rgba(0, 0, 0, 0.5);
          box-shadow: 100px 0 200px 400px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: #692511;
}

.swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide h4 {
  margin-top: 1rem;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

input[type="email"] {
  border: none;
  border-radius: 2em;
  padding: .5em 2em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

header {
  padding: 2rem 0;
  background: #EEE0E0;
  position: relative;
  z-index: 1;
}

header .header-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
}

header .header-container--home::before {
  content: '';
  background-image: url(/assets/images/hero-splash1-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 12rem;
  width: 100%;
  background-size: cover;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* don't forget to set a duration! */
}

header .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header-container nav .logo {
  height: clamp(4rem, calc((128 / 1024) * 100vw), 8rem);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header-container nav .desktop-nav {
  display: none;
}

@media screen and (min-width: 50em) {
  header {
    padding: 4rem 0;
  }
  header .header-container--home::before {
    left: initial;
    right: 0;
    width: 35rem;
    height: 18rem;
    background-size: contain;
  }
}

@media screen and (min-width: 64em) {
  header .header-container nav .hamburger {
    display: none;
  }
  header .header-container nav .desktop-nav {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-container nav .desktop-nav li {
    margin: 0 1rem;
  }
  header .header-container nav .mobile-cart {
    display: none;
  }
}

.hero {
  padding: 2rem 0;
  background-color: #EEE0E0;
}

.hero .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  z-index: 1;
}

.hero .hero-container_content {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
  margin-top: 2rem;
}

.hero .hero-container_content p {
  margin-bottom: 2rem;
}

.hero .hero-container_illustration {
  overflow: hidden;
}

.hero .hero-container_illustration::before {
  content: '';
  background-image: url(/assets/images/hero-splash2.png);
  background-repeat: no-repeat;
  position: absolute;
  height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
  width: clamp(20rem, calc((896 / 800) * 100vw), 56rem);
  background-size: cover;
  z-index: -1;
  right: 0;
  top: clamp(2rem, calc((192 / 800) * 100vw), 12rem);
  -webkit-animation: fadeIn;
          animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* don't forget to set a duration! */
}

.hero .hero-container_illustration img {
  max-width: 100%;
  height: auto;
  margin-left: 2rem;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* don't forget to set a duration! */
}

.drip {
  width: 100%;
}

.drip-desktop {
  display: none;
}

@media screen and (min-width: 50em) {
  .hero {
    padding: 0 0 4rem;
    overflow: hidden;
  }
  .hero .hero-container {
    width: 88%;
    margin: 0 auto;
    max-width: 69rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero-container_content {
    text-align: left;
    width: 50%;
    margin-top: 0;
  }
  .hero .hero-container_illustration {
    width: 50%;
  }
  .hero .hero-container_illustration img {
    position: absolute;
    margin-left: 0;
    max-height: clamp(20rem, calc((384 / 1024) * 100vw), 24rem);
  }
  .hero .hero-container_illustration::before {
    height: 16rem;
    width: 36rem;
  }
  .drip {
    display: none;
  }
  .drip-desktop {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 67.5em) {
  .hero {
    padding: 0 0 18rem;
  }
  .hero .hero-container_illustration img {
    max-height: initial;
    margin-left: -6rem;
  }
  .hero .hero-container_illustration::before {
    height: 26rem;
    width: 56rem;
  }
}

.about {
  padding: 2rem 0;
  position: relative;
}

.about .about-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
}

.about .about-container .about-header-mobile {
  margin-bottom: 2rem;
}

.about .about-container_image img {
  max-width: 100%;
  height: auto;
}

.about .about-container_content h2 {
  display: none;
}

.about .about-container::before {
  content: '';
  background-image: url(/assets/images/leaf.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  height: clamp(5rem, calc((160 / 1000) * 100vw), 10rem);
  width: clamp(5rem, calc((160 / 1000) * 100vw), 10rem);
  left: 0;
  bottom: -2rem;
  z-index: -1;
}

@media screen and (min-width: 50em) {
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-container .about-header-mobile {
    display: none;
  }
  .about .about-container_image {
    width: 50%;
  }
  .about .about-container_content {
    width: 50%;
    text-align: left;
    margin-left: 2rem;
  }
  .about .about-container_content h2 {
    display: block;
  }
  .about .about-container::before {
    bottom: -8rem;
  }
}

.our-cakes {
  padding: 2rem 0;
}

.our-cakes .our-cakes-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
}

.our-cakes .our-cakes-container h2 {
  margin-bottom: 2rem;
}

.our-cakes .our-cakes-container .our-cakes-grid li {
  margin-bottom: 2rem;
}

.our-cakes .our-cakes-container .our-cakes-grid li .cake-grid-container img {
  max-width: 100%;
  height: auto;
}

.our-cakes .our-cakes-container .our-cakes-grid li .cake-grid-container h3 {
  margin-top: 1rem;
}

@media screen and (min-width: 43.75em) {
  .our-cakes .our-cakes-container .our-cakes-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  .our-cakes .our-cakes-container .our-cakes-grid li {
    margin-bottom: 0;
  }
  .our-cakes .our-cakes-container .our-cakes-grid li .cake-grid-container .cake-image-container {
    min-height: 13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.all-our-cakes-are {
  padding: 2rem 0;
}

.all-our-cakes-are .all-our-cakes-are-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
}

.all-our-cakes-are .all-our-cakes-are-container h2 {
  margin-bottom: 2rem;
}

.all-our-cakes-are .all-our-cakes-are-container ul li {
  margin-bottom: 2rem;
}

.all-our-cakes-are .all-our-cakes-are-container ul li svg {
  width: 4rem;
  height: 4rem;
}

.all-our-cakes-are .all-our-cakes-are-container ul li h3 {
  margin-top: 1rem;
}

@media screen and (min-width: 43.75em) {
  .all-our-cakes-are .all-our-cakes-are-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    text-align: left;
  }
}

.best-seller {
  padding: 2rem 0;
  position: relative;
}

.best-seller .best-seller-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.best-seller .best-seller-container_image img {
  max-width: 100%;
  height: auto;
}

.best-seller .best-seller-container_image::before {
  content: '';
  background-image: url(/assets/images/hero-splash1.png);
  background-repeat: no-repeat;
  position: absolute;
  height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
  width: clamp(20rem, calc((896 / 800) * 100vw), 56rem);
  background-size: cover;
  z-index: -1;
  right: 0;
  top: clamp(10rem, calc((352 / 600) * 100vw), 22rem);
}

.best-seller .best-seller-container_content h2 {
  margin: 1rem 0;
}

.testimonials {
  padding: 2rem 0;
}

.testimonials .testimonials-container {
  text-align: center;
}

.testimonials .testimonials-container h2 {
  margin-bottom: 2rem;
}

.subscribe {
  padding: 2rem 0;
}

.subscribe .subscribe-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(/assets/images/subscribe-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/images/subscribe-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe .subscribe-container h2, .subscribe .subscribe-container p {
  color: white;
}

footer {
  background-color: #EEE0E0;
  padding: 2rem 0;
}

footer .footer-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
}

footer .footer-container .social-links {
  text-align: center;
}

footer .footer-container .social-links img {
  height: clamp(4rem, calc((128 / 1024) * 100vw), 8rem);
}

footer .footer-container .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

footer .footer-container .social-links ul li {
  margin: 0 .5rem;
}

footer .footer-container h4 {
  margin-bottom: 1rem;
}

footer .footer-container ul li {
  margin-bottom: 1rem;
}

footer .footer-container .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 33.75em) {
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container > div {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */