/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  color: #692511;
  line-height: 1.5;
}

h1 {
  font-size: clamp(2rem, calc((64/600) * 100vw), 4rem);
}

h2 {
  font-size: clamp(1.75rem, calc((56/600) * 100vw), 3.5rem);
}

p {
  line-height: 1.5;
  font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0;
}

.cta-button {
  padding: .5em 1em;
  border: 1px solid #692511;
  border-radius: 2em;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #692511;
}

.hamburger {
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger {
  height: 3em;
  width: 2em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent;
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: #692511;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.burger .burger-lines:after {
  left: 0;
  top: -.6em;
}

.burger .burger-lines:before {
  left: 1em;
  top: .6em;
}

@-webkit-keyframes burgerAnimationSlide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  49% {
    -webkit-transform: translateX(-0.7em);
    transform: translateX(-0.7em);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0.7em);
    transform: translateX(0.7em);
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes burgerAnimationSlide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  49% {
    -webkit-transform: translateX(-0.7em);
    transform: translateX(-0.7em);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0.7em);
    transform: translateX(0.7em);
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.burger.burger-slide .burger-lines {
  -webkit-transition: .1s all .15s;
  transition: .1s all .15s;
}

.burger.burger-slide .burger-lines:after, .burger.burger-slide .burger-lines:before {
  width: 1em;
  -webkit-transition: .1s all .15s;
  transition: .1s all .15s;
}

.burger.burger-slide:not(.open) {
  -webkit-animation-name: burgerAnimationSlide;
  animation-name: burgerAnimationSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: transparent;
}

.burger.burger-slide.open .burger-lines {
  -webkit-animation-name: burgerAnimationSlide;
  animation-name: burgerAnimationSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: transparent;
}

.burger.burger-slide.open .burger-lines:before, .burger.burger-slide.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-slide.open .burger-lines:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger.burger-slide.open .burger-lines:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  padding: 2rem 0;
  background: #EEE0E0;
  position: relative;
  z-index: 1;
}

header .header-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
}

header .header-container--home::before {
  content: '';
  background-image: url(/assets/images/hero-splash1.png);
  background-repeat: no-repeat;
  position: absolute;
  height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
  width: clamp(32rem, calc((896 / 800) * 100vw), 56rem);
  background-size: cover;
  z-index: -1;
  right: -8rem;
  top: -4rem;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

header .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container nav .logo {
  height: 4rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1rem;
}

.hero {
  padding: 2rem 0;
  background-color: #EEE0E0;
}

.hero .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  z-index: 1;
}

.hero .hero-container_content {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
  margin-top: 2rem;
}

.hero .hero-container_content p {
  margin-bottom: 2rem;
}

.hero .hero-container_illustration::before {
  content: '';
  background-image: url(/assets/images/hero-splash2.png);
  background-repeat: no-repeat;
  position: absolute;
  height: clamp(12rem, calc((416 / 800) * 100vw), 26rem);
  width: clamp(20rem, calc((896 / 800) * 100vw), 56rem);
  background-size: cover;
  z-index: -1;
  right: 0;
  top: clamp(2rem, calc((192 / 800) * 100vw), 12rem);
}

.hero .hero-container_illustration img {
  max-width: 100%;
  height: auto;
  margin-left: 2rem;
}

.drip {
  width: 100%;
}

.about {
  padding: 2rem 0;
  position: relative;
}

.about .about-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
}

.about .about-container h2 {
  margin-bottom: 2rem;
}

.about .about-container_image img {
  max-width: 100%;
  height: auto;
}

.about .about-container_content h2 {
  display: none;
}

.about .about-container::before {
  content: '';
  background-image: url(/assets/images/leaf.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  height: 5rem;
  width: 5rem;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.our-cakes .our-cakes-container {
  width: 88%;
  margin: 0 auto;
  max-width: 69rem;
  text-align: center;
}

.our-cakes .our-cakes-container h2 {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */