@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

h1, h2 {
    font-family: 'Pacifico', cursive;
    color: $primary;
    line-height: 1.5;
}
h1 {
    font-size: clamp(2rem, calc((64/600) * 100vw), 4rem);
}
h2 {
    font-size: clamp(1.75rem, calc((56/600) * 100vw), 3.5rem);
}
h3 {
    font-size: clamp(1.25rem, calc((24/600) * 100vw), 1.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $primary;
}
h4 {
    font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $primary;
}
p {
    line-height: 1.5;
    font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
}
a {
    font-size: clamp(0.875rem, calc((16 / 600) * 100vw), 1rem);
    font-family: 'Montserrat', sans-serif;
}